.container{
    background-color: white;
    border-radius: 10px;
    padding:  1.5em 1.5em;
    margin: 1em 2em ;
    width: 100%;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}
.container h2 {
    margin: 1em;
    color: rgb(0, 0, 0);
    width: 100%;

}   
.provas_container{
    margin-top: 2em;
    width: 100% ;
 
}
.prova_card{
    display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
  width: 100%;
  list-style: none;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-bottom: 0.5rem;
    
}
.status {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre o círculo e o texto */
}

.status span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  flex-shrink: 0; /* evita que o círculo encolha */
}

/* Classes específicas para cada categoria */
.status span.pendente {
  background-color: rgba(255, 87, 9, 0.932);
}

.status span.aprovada {
  background-color: #38c03c;
}

.status span.aplicada {
  background-color: #1967d2;
}

.status p {
  margin: 0;
  color: #555;
}
.provas_list{
    border-radius: 1px solid #00000070;
}
.provas_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.prova_card_item{

    padding: auto;
    width: 100%;
    
}
.prova_card_buttons{
    display: flex;
    gap: 10px;
}
.filtros{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    margin-bottom: 10px;
}
.search_container{
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px ;
    border-radius: 8px;
    width: 100%;
    display: flex;
    background-color: white;
    margin-bottom: 5px;
}
.search_container:hover {
    color: #000000;
    border-color: #000000;
    transition: 0.2s;
    cursor: pointer;
}
.icon {
    color: #666;
    font-size: 18px;
    margin: 3px;
}
.search_container .input {
    flex: 1;
    font-size: 1em;
    padding: 10px;
}
.select_anos{
  max-height: 40px;
  min-height: 10px;
  width: 150px;
  border-radius: 5px;

}

.select{
  margin-left: -5px;  
  display: flex;
  padding: 0.5em 1em;
  font-size: 1em;
  text-align: center;
  gap: 2em;
}
.select select{
    
    max-width: 200px;
    padding: 0.8em;
    color: #797979;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 1px solid #ccc   ;
}
.select input{
    color: #797979;
    max-width: 200px;    
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 1px solid #ccc   
}
.select input:hover{
    border: 1px solid #000000;
    transition: 0.3s;
}
.select select:hover{
    border: 1px solid #000000;  
    transition: 0.3s;
}
.prova_card_buttons button{
    padding: 1em ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}
.prova_card_buttons .edit_btn{
      background-color: #ffffff00;
  color: #1967d2;   
    &:hover{
        background-color: rgb(61, 161, 47);
        color: rgb(255, 255, 255);
        transition: 0.3s;
    } 
} 
.view_btn{
    background-color: #ffffff00;
  color: #1967d2;   
    &:hover{
        background-color: rgb(25, 118, 210);
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }
}  