.form{
    width: 100%;
    margin: 2em 0;
    background-color: rgb(255, 255, 255);
    padding: 1.3em;
    border-radius: 8px;
    box-shadow:  2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    font-size: 1em;
}
.form input, .form textarea, .form select {
    width: 100%;
    padding: 0.8em;

    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.form p {
 font-size: 1em;
    margin-bottom: 1em;
    color: #495057;
    padding: 12px;
    background-color: #f8f9fa;
    border-radius: 6px;
    border: 1px solid #e9ecef;
    margin-top: 5px;
    line-height: 1.6;
    min-height: 40px;
}
